.greenBtn{
    border:none;
    padding:10px;
    margin:15px;
    border-radius: 10px;
    min-height: 40px;
    background-color: #1fa32a;
    font-size: 15px;
    color: whitesmoke;
}
.clicked{
    border:none;
    padding:10px;
    margin:15px;
    border-radius: 10px;
    max-height: 40px;
    font-size: 15px;
    color: #0C2D48;
}
.rightContainerRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 100%;
}
.leftContainerRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 100%;
}

.centerContainerRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.centerContainerColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.numberStats{
    margin:10px;
    padding: 20px 20px 0px 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
    background-color: rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-items: center;
    text-align: center;

}
.topNum{
    grid-column: span 3;
}
.bottomNum{
    grid-column: span 1;
    margin: 10px 5px;
}
.chartContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.BarChart{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 500px;
}

.StatCardContainer{
    color: #0C2D48;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    margin-bottom: 20px;
}

.StatCard{
    min-width: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;

}


@media only screen and (max-width: 1200px) {
    .chartContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .BarChart{
        width: 100%;
    }
}

  
